body {
    font-family: sans-serif;
}
.entirety{
    background-image: url(download.jpg);
}
.wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

  .controls, .results {
    /* flex: 1; */
    padding: 10px;
  }

  form p:nth-of-type(1) {
    margin-top: 0;
  }

  h1 {
    text-align: center;
  }

  h2 {
    font-size: 20px;
  }

  article p {
    font-size: 14px;
    line-height: 1.5;
  }

  article p:nth-of-type(2) {
    font-size: 14px;
    line-height: 2;
  }

  nav {
    margin-bottom: 50px;
  }

  .prev {
    float: left;
  }

  .next {
    float: right;
  }

  article {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #ddd;
    border: 1px solid #ccc;
  }

  img {
    float: right;
    margin-left: 20px;
    max-width: 200px;
  }

  .clearfix {
    clear: both;
  }

  span {
    background-color: #ccc;
    padding: 5px;
    margin: 5px;
  }

  .wrapper{
    background-color: lavenderblush;
    border: 3px solid black;
    border-radius: 3px;
  }

  .heading{
    width: 103%;
    height: 130px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 70px;
    left: -30px;
    top: -10px;
    position: relative;
    margin-top: 30px;
    color: rgb(61, 28, 0);
    background-color: rgba(128, 0, 128, 0.671);
    padding: 8px;
    font-family: 'Homemade Apple', cursive;
  }

  .nav{
    width: 110%;
    height: 30px;
    background-color: rgb(61, 28, 0);
    position: fixed;
    left: -10px;
    top: -10px;
    z-index: 1;
  }
  
.thisone{
  text-align: center;
  /* padding: 10px; */
}

.all{
  padding: 10px;
  font-family: 'Poiret One', cursive;
  font-size: 20px;
}
.label{
  padding-bottom: 10px;
}

.results a{
  color: black !important;
}

button{ 
  font-family: 'Poiret One', cursive;
  font-size: 30px;
  margin-left: 15px;
}
.nav a{
  color: white !important;
  text-decoration: none;
}
#searchword{
  margin-left: 1100px;
  margin-top: 10px;
  font-family: 'Poiret One', cursive;
  z-index: 1;
}